@model IEnumerable<recipePickerApp.Models.Recipe>

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>Retete de paine</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/popular_recipes_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/User/user_home.css">
    

</head>
<body>

    <div class="vertical-menu">
        <a asp-controller="Admin" asp-action="Home">Contul meu</a>
        <a asp-controller="AdminUsers" asp-action="Index">Useri</a>
        <a asp-controller="AdminRecipes" asp-action="Index"  class="active">Retete</a>
        <a asp-controller="Recipe" asp-action="AddRecipe">ADAUGA RETETA</a>
    </div>
    <p>
        <a class="button" asp-action="AddRecipe" , asp-controller="Recipe">Create New</a>
    </p>

    <div class="row">
        <div class="column">
            @foreach (var item in Model)
            {
                <div class="card">
                    <img src="~/images/@Html.DisplayFor(modelItem => item.ImageUrl)" alt="Paste cu pui si parmezan" style="width:100%">
                    <div class="container">
                        <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                        <p class="title"> @Html.DisplayFor(modelItem => item.Description)</p>
                        <p>Ingrediente: ...</p>
                        <p>Timp de gatire: @Html.DisplayFor(modelItem => item.CookingTime)</p>
                        <a asp-controller="Recipe" asp-action="Details" class="button" asp-route-id="@item.RecipeId">Vezi reteta</a>
                        <a asp-controller="AdminRecipes" asp-action="Delete" class="button" asp-route-id="@item.RecipeId">Sterge reteta</a>
                        <a asp-controller="AdminRecipes" asp-action="Edit" class="button" asp-route-id="@item.RecipeId">Editeaza reteta</a>

                    </div>
                </div>
            }
        </div>

    </div>
</body>
</html>



@*@model IEnumerable<recipePickerApp.Models.Recipe>

    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CookingDecription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CookingTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RecipeType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CookingDecription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CookingTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RecipeType)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.RecipeId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.RecipeId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.RecipeId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
