@model recipePickerApp.Models.RecipeViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style>

        h3 {
            color: #e6ccff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 200%;
            background-color: blueviolet;
            text-align: center;
        }

        h1 {
            margin-left: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 100%;
            text-align: left;
        }

        .inner ul {
            display: block;
            list-style-type: disc;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 0px;
            margin-right: 0;
            padding-left: 40px;
        }

        .inner li {
            margin-left: 30px;
            list-style-type: disc;
            display: list-item;
            padding: 7px;
            font-size: 17px;
        }

        .prezentare_retea {
            margin-left: 550px;
            width: 700px;
        }

        p.t {
            font-style: italic;
            font-weight: bolder;
            margin-left: 30px;
        }

        p.a {
            margin-right: 20px;
        }

        p.text {
            margin-left: 50px;
            margin-right: 50px;
            text-align: center;
        }
    </style>

    <meta charset="utf-8" />
    <title>Categorii</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/category_style.css">
    <link rel="stylesheet" type="text/css" href="~/css/recipe_detalis.css">
</head>
<body>



    <h3>Rețetă</h3>
    <img src="~/images/@Html.DisplayFor(model=>model.recipe.ImageUrl)" style="width:50%" align="left" />
    <div class="prezentare_retea">

        <h2 id="title_recipe_header">  @Html.DisplayFor(model => model.recipe.Name)</h2>

        <p class="t">Timp de gatire: </p> <p class="a">  @Html.DisplayFor(model => model.recipe.CookingTime) </p>

        <p class="t">Ingrediente:</p>
        <ul class="inner">
            @foreach (var item in Model.ingredients)
            {
                <li>  @Html.DisplayFor(modelItem => item.Name)</li>
            }

        </ul>

    </div>

    <div class="reteta">

        <p class="t">Descriere</p>
        <p class="text">
            @Html.DisplayFor(model => model.recipe.Description)
        </p>
        <p class="t">Mod de preparare</p>
        <p class="text">
            @Html.DisplayFor(model => model.recipe.CookingDecription)
        </p>

    </div>
    <script>
                        function myFunction() {
                            alert("Adaugat cu succes");
                        }
    </script>
    <a  class="btn" > +Adauga la FAVORITE</a>

    <a class="btn" >+Adauga la Retete GATITE</a>

</body>
</html>
